/* ======================= Google Fonts ======================== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #4682b4;
  --secondary-color: #eff6ff;

  --body-font: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--body-font);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--primary-color);
}

.container {
  width: 75vw;
  background-color: var(--secondary-color);
  border-radius: 0.5rem;
}

header {
  color: var(--primary-color);
  font-size: 1.4rem;
  font-weight: 500;
  padding: 0.8rem 1rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #d1d5db;
}

header i {
  cursor: pointer;
  font-size: 0rem; /* 1.5 */
  margin-right: 1rem;
}

.container.active header i {
  font-size: 1.5rem;
}

.input_box {
  margin: 1.5rem;
  text-align: center;
}

.container.active .input_box {
  display: none;
}

.info {
  display: none;
  padding: 0.5rem;
  border-radius: 0.3rem;
}

.info.error {
  display: block;
  color: #b91c1c;
  background-color: #fecaca;
}

.info.pending {
  display: block;
  color: #059669;
  background-color: #a7f3d0;
}

input {
  margin: 1rem 0;
  padding: 0.5rem;
  width: 100%;
  text-align: center;
  background-color: var(--secondary-color);
  outline: none;
  border: 1px solid #d1d5db;
  border-radius: 0.3rem;
}

input:focus {
  border: 1px solid #4682b4;
}

.separator {
  color: #9ca3af;
  padding: 0.2rem;
}

button {
  width: 100%;
  margin: 1rem 0;
  padding: 0.5rem;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  border: none;
  border-radius: 0.3rem;
}

.weather_box {
  margin: 1rem 0;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container.active .weather_box {
  display: flex;
}

.weather_box img {
  width: 60%;
}

.temp {
  display: flex;
  font-size: 2rem;
  font-weight: 500;
}

.temp .numb {
  font-weight: 600;
}

.temp .deg {
  font-size: 1.5rem;
  margin: 0.1rem 0.5rem 0 0;
}

.weather,
.location {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.location i {
  margin-right: 0.5rem;
}

.bottom_details {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.bottom_details .column {
  display: flex;
  align-items: center;
  justify-content: center;
}

.column i {
  color: #4682b4;
  font-size: 2rem;
  margin-right: 0.5rem;
}

.details .temp,
.humidity .details .numb {
  font-size: 1rem;
  font-weight: 600;
}

.details .temp .deg {
  font-size: 1rem;
  margin: 0;
  padding: 0 0.3rem 0 0.1rem;
}

.details p {
  margin-top: -0.5rem;
}
